html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Center all content */
.MuiContainer-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Hide scrollbar globally */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Part of layout mobile viewport height fix */
:root {
  --vh: 1vh;
}

/* Typewriter */
@keyframes blink {
  50% { opacity: 0; }
}

.cursor::after {
  content: '|';
  animation: blink 1s step-end infinite;
  position: relative;
  left: 2px;
  display: inline-block;
}